# Data Cleaning & Preprocessing

### Setup

In [2]:
import pandas as pd
import numpy as np

### Raw Data Load & Overview

In [3]:
df_raw = pd.read_csv('../data/raw/cologne_data.csv', sep=';', encoding='unicode_escape') 

df_raw.head().T.head(10)

/var/folders/b7/0lrwcbf52xvccvvdz4wbwfkw0000gn/T/ipykernel_13246/4186628733.py:1: DtypeWarning: Columns (9,11,13,15,17,19,24,30,31,33,38,43,50,52,62,64,66,67,70,73,80,83,88,90,99,102,106,107,108,109,111,116,119,120,128,137,138,139,140,142,144,160,161,162) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('../data/raw/cologne_data.csv', sep=';', encoding='unicode_escape')

,0,1,2,3,4
S_JAHR,2012,2012,2012,2012,2012
S_RAUM,0,1,2,3,4
RAUM,0 / Stadt Köln,1 / Innenstadt,2 / Rodenkirchen,3 / Lindenthal,4 / Ehrenfeld
S_RAUMEBENE,0,1,1,1,1
RAUMEBENE,Gesamtstadt,Stadtbezirke,Stadtbezirke,Stadtbezirke,Stadtbezirke
A0002A,180415.0,21712.0,14788.0,14132.0,19811.0
A0002P,"17,271948","16,985457","14,337793","9,872231","18,779445"
A0022S,"41,90013762","40,86903262","43,45253054","42,06031943","40,54831047"
A0025A,1044555.0,127827.0,103140.0,143149.0,105493.0
A0027A,46426,4428,5331,6787,3935

### Column Selection & Renaming

In [4]:
rename_columns = {
    # --- meta ---
    'S_JAHR': 'year',
    'S_RAUM': 'area_code',
    'RAUM': 'area',
    'S_RAUMEBENE': 'area_level_code',
    'RAUMEBENE': 'area_level',
    
    # --- population & demography ---
    'A0022S': 'avg_age_total',
    'A0296S': 'avg_age_male',
    'A0297S': 'avg_age_female',
    'A0298S': 'avg_age_german',
    'A0299S': 'avg_age_non_german',
    'A0025A': 'population_total',
    'A0002A': 'non_german_total',
    'A0002P': 'non_german_share',
    'A0153A': 'migration_background_total',
    'A0153P': 'migration_background_share',
    'A0213A': 'female_residents_total',
    'A0109A': 'male_residents_total',
    'A0300A': 'births',
    'A0301A': 'deaths',
    
    # --- age groups ---
    'A0029A': 'population_00_03',
    'A0035A': 'population_03_06',
    'A0291A': 'population_06_15',
    'A0043A': 'population_15_18',
    'A0292A': 'population_18_21',
    'A0293A': 'population_21_35',
    'A0294A': 'population_35_60',
    'A0060A': 'population_60_65',
    'A0295A': 'population_65_75',
    'A0065A': 'population_75_80',
    'A0027A': 'population_80_plus',
    
    # --- households & marital status ---
    'A0267A': 'households_total',
    'A0273A': 'households_single',
    'A0273P': 'households_single_share',
    'A0275A': 'households_with_children',
    'A0275P': 'households_with_children_share',
    'A0363A': 'married_residents',
    'A0364A': 'single_residents',
    'A0365A': 'divorced_residents',
    'A0366A': 'widowed_residents',
    
    # --- housing ---
    'B0009A': 'new_flats_completed',
    'B0022S': 'living_area_per_capita_sqm',
    'B0023S': 'avg_flat_area_sqm',
    'B0026P': 'supported_housing_share',
    
     # --- socioeconomic ---
    'D0001P': 'unemployed_rate_total',
    'C0007A': 'social_benefit_recipients',
    'C0007P': 'social_benefit_recipients_share',
    'D0011A': 'employed_residents',
    'D0011P': 'employed_residents_share',
    # 'E0002A': 'students_by_residence',
    
     # --- mobility ---
    'H0001A': 'registered_cars_total',
    # 'H0004A': 'registered_petrol_cars',
    'H0007A': 'registered_electric_cars',
    'H0041A': 'new_registered_electric_cars',
    'H0003S': 'private_cars_per_1000',
}

In [5]:
df = df_raw[list(rename_columns.keys())].rename(columns=rename_columns)

print(f"Renamed dataset shape: {df.shape}")
df.head().T

Renamed dataset shape: (8892, 52)

,0,1,2,3,4
year,2012,2012,2012,2012,2012
area_code,0,1,2,3,4
area,0 / Stadt Köln,1 / Innenstadt,2 / Rodenkirchen,3 / Lindenthal,4 / Ehrenfeld
area_level_code,0,1,1,1,1
area_level,Gesamtstadt,Stadtbezirke,Stadtbezirke,Stadtbezirke,Stadtbezirke
avg_age_total,"41,90013762","40,86903262","43,45253054","42,06031943","40,54831047"
avg_age_male,"40,91336362","40,55675276","42,13189939","40,96546036","39,85724002"
avg_age_female,"42,83753064","41,18596412","44,67740298","43,03439468","41,21577561"
avg_age_german,"42,37034807","40,90622752","44,24319955","42,37437637","40,57239755"
avg_age_non_german,"39,64795425","40,68724668","38,72862005","39,19316091","40,44413457"
population_total,1044555.0,127827.0,103140.0,143149.0,105493.0
non_german_total,180415.0,21712.0,14788.0,14132.0,19811.0
non_german_share,"17,271948","16,985457","14,337793","9,872231","18,779445"
migration_background_total,366707.0,37880.0,30079.0,32462.0,37096.0
migration_background_share,"35,106529","29,633802","29,163273","22,677071","35,164418"
female_residents_total,535681.0,63441.0,53510.0,75753.0,53663.0
male_residents_total,508874.0,64386.0,49630.0,67396.0,51830.0
births,10377,1202,879,1534,1113
deaths,9935,1070,1085,1342,934
population_00_03,29838,3020,2735,4224,3151
population_03_06,27866,2130,2794,3744,2815
population_06_15,77676.0,4734.0,8113.0,9493.0,7677.0
population_15_18,26601,1694,2767,2812,2629
population_18_21,30557,2920,2878,3627,2928
population_21_35,231594.0,42416.0,18849.0,34420.0,25894.0
population_35_60,381453.0,47545.0,38541.0,51913.0,39511.0
population_60_65,53902,5471,5762,7125,4755
population_65_75,99086,9811,11120,13732,8698
population_75_80,39556,3658,4250,5272,3500
population_80_plus,46426,4428,5331,6787,3935
households_total,547221.0,83116.0,52137.0,78804.0,57368.0
households_single,275996.0,56360.0,24593.0,42762.0,30859.0
households_single_share,"50,43593","67,808845","47,169956","54,263743","53,791312"
households_with_children,99327.0,7784.0,10045.0,12911.0,10114.0
households_with_children_share,"18,151167","9,365225","19,266548","16,383686","17,630038"
married_residents,404443.0,33955.0,42824.0,52897.0,37115.0
single_residents,492759.0,77721.0,45075.0,71962.0,54098.0
divorced_residents,82876.0,9525.0,8310.0,10274.0,8292.0
widowed_residents,60131,5271,6553,7510,5464
new_flats_completed,3114,193,348,848,293
living_area_per_capita_sqm,"39,40239241","40,39537813","44,27280396","45,80771085","36,15031329"
avg_flat_area_sqm,"75,57050842","63,87377692","85,89885062","82,08048668","69,38747475"
supported_housing_share,"7,522905","2,508628","3,397355","1,126563","12,57437"
unemployed_rate_total,"9,014408876","6,467710367","7,314508416","4,601336674","9,732072324"
social_benefit_recipients,110557,7397,7369,4997,12299
social_benefit_recipients_share,"13,112314","6,983374716","9,119372324","4,361373436","14,02826412"
employed_residents,364058.0,50665.0,32950.0,50045.0,38218.0
employed_residents_share,"51,4702","52,765","49,0889","51,5741","51,6557"
registered_cars_total,436145,50969,50369,66953,38787
registered_electric_cars,310,8,13,215,18
new_registered_electric_cars,229,*,5,193,*
private_cars_per_1000,"353,344","278,165","408,173","391,417","306,769"

### Data Cleaning & Transformation

In [6]:
df.dtypes.unique()
# df.info()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [7]:
for col in df.select_dtypes('object').columns.difference(['area', 'area_level']):
    df[col] = (
        df[col]
        .astype(str)
        .str.strip()
        .str.replace(",", ".", regex=False)
        .str.replace("\xa0", "", regex=False)
        .replace(["*", "nan", "None"], np.nan)
        .astype(float, errors='ignore')
    )

In [8]:
exclude_cols = [
    'avg_age_total', 'avg_age_male', 'avg_age_female', 'avg_age_german', 'avg_age_non_german', 
    'non_german_share', 'migration_background_share',
    'households_single_share', 'households_with_children_share',
    'living_area_per_capita_sqm', 'avg_flat_area_sqm', 
    'supported_housing_share', 'unemployed_rate_total', 'social_benefit_recipients_share', 'employed_residents_share', 
    'private_cars_per_1000'
]

for col in df.select_dtypes('float64').columns.difference(exclude_cols):
    if df[col].isna().any():
        df[col] = df[col].round().astype('Int64')
    else:
        df[col] = df[col].round().astype('int64')

In [9]:
df['area_level'] = df['area_level'].astype('category')

In [10]:
# keep only the name after the slash and remove spaces
# df["area"] = df["area"].str.split("/").str[-1].str.strip()
df['area'] = df['area'].str.replace(r'^\s*\d+\s*/\s*', '', regex=True).str.strip()

df[["area_code", "area"]].head(20)

    area_code           area
0           0     Stadt Köln
1           1     Innenstadt
2           2   Rodenkirchen
3           3     Lindenthal
4           4      Ehrenfeld
5           5         Nippes
6           6     Chorweiler
7           7           Porz
8           8           Kalk
9           9        Mülheim
10        101   Altstadt/Süd
11        102   Neustadt/Süd
12        103  Altstadt/Nord
13        104  Neustadt/Nord
14        105          Deutz
15        201      Bayenthal
16        202     Marienburg
17        203      Raderberg
18        204      Raderthal
19        205      Zollstock

In [11]:
df['area'].nunique()

658

In [12]:
df.groupby(['year', 'area_level']).size().unstack()

/var/folders/b7/0lrwcbf52xvccvvdz4wbwfkw0000gn/T/ipykernel_13246/3389243525.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['year', 'area_level']).size().unstack()

area_level,Gesamtstadt,Sozialräume,Stadtbezirke,Stadtteile,Statistische Quartiere
year,,,,,
2012,1,18,9,86,570
2013,1,18,9,86,570
2014,1,18,9,86,570
2015,1,18,9,86,570
2016,1,18,9,86,570
2017,1,18,9,86,570
2018,1,18,9,86,570
2019,1,18,9,86,570
2020,1,18,9,86,570
2021,1,18,9,86,570
2022,1,18,9,86,570
2023,1,18,9,86,570
2024,1,18,9,86,570

### Missing Values Summary

In [31]:
df.isna().sum().sort_values(ascending=False).head(20)

supported_housing_share            5892
avg_flat_area_sqm                  5883
living_area_per_capita_sqm         5883
new_registered_electric_cars       2409
registered_electric_cars           2340
new_flats_completed                1478
deaths                              347
births                               63
population_80_plus                   38
social_benefit_recipients_share      37
population_15_18                     28
social_benefit_recipients            24
population_75_80                     22
unemployed_rate_total                21
population_18_21                     18
population_65_75                     17
widowed_residents                    17
population_60_65                     16
population_00_03                     16
employed_residents_share             16
dtype: int64

In [32]:
df.groupby('area_level')[df.columns].apply(lambda x: x.isna().mean()).T

/var/folders/b7/0lrwcbf52xvccvvdz4wbwfkw0000gn/T/ipykernel_13246/1143749678.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('area_level')[df.columns].apply(lambda x: x.isna().mean()).T

area_level,Gesamtstadt,Sozialräume,Stadtbezirke,Stadtteile,Statistische Quartiere
year,0.0,0.000000,0.000000,0.000000,0.000000
area_code,0.0,0.000000,0.000000,0.000000,0.000000
area,0.0,0.000000,0.000000,0.000000,0.000000
area_level_code,0.0,0.000000,0.000000,0.000000,0.000000
area_level,0.0,0.000000,0.000000,0.000000,0.000000
avg_age_total,0.0,0.055556,0.000000,0.000000,0.000000
avg_age_male,0.0,0.055556,0.000000,0.000000,0.000000
avg_age_female,0.0,0.055556,0.000000,0.000000,0.000000
avg_age_german,0.0,0.055556,0.000000,0.000000,0.000000
avg_age_non_german,0.0,0.055556,0.000000,0.000000,0.000000
population_total,0.0,0.055556,0.000000,0.000000,0.000000
non_german_total,0.0,0.055556,0.000000,0.000000,0.000000
non_german_share,0.0,0.055556,0.000000,0.000000,0.000000
migration_background_total,0.0,0.055556,0.000000,0.000000,0.000000
migration_background_share,0.0,0.055556,0.000000,0.000000,0.000000
female_residents_total,0.0,0.055556,0.000000,0.000000,0.000000
male_residents_total,0.0,0.055556,0.000000,0.000000,0.000000
births,0.0,0.055556,0.000000,0.000000,0.006748
deaths,0.0,0.055556,0.000000,0.005367,0.044265
population_00_03,0.0,0.055556,0.000000,0.000000,0.000405
population_03_06,0.0,0.055556,0.000000,0.000000,0.000270
population_06_15,0.0,0.055556,0.000000,0.000000,0.000000
population_15_18,0.0,0.055556,0.000000,0.000000,0.002024
population_18_21,0.0,0.055556,0.000000,0.000000,0.000675
population_21_35,0.0,0.055556,0.000000,0.000000,0.000000
population_35_60,0.0,0.055556,0.000000,0.000000,0.000000
population_60_65,0.0,0.055556,0.000000,0.000000,0.000405
population_65_75,0.0,0.055556,0.000000,0.000000,0.000540
population_75_80,0.0,0.055556,0.000000,0.000000,0.001215
population_80_plus,0.0,0.055556,0.000000,0.000000,0.003374
households_total,0.0,0.055556,0.000000,0.000000,0.000000
households_single,0.0,0.055556,0.000000,0.000000,0.000000
households_single_share,0.0,0.055556,0.000000,0.000000,0.000000
households_with_children,0.0,0.055556,0.000000,0.000000,0.000000
households_with_children_share,0.0,0.055556,0.000000,0.000000,0.000000
married_residents,0.0,0.055556,0.000000,0.000000,0.000000
single_residents,0.0,0.055556,0.000000,0.000000,0.000000
divorced_residents,0.0,0.055556,0.000000,0.000000,0.000000
widowed_residents,0.0,0.055556,0.000000,0.000000,0.000540
new_flats_completed,0.0,0.200855,0.000000,0.186047,0.165047
living_area_per_capita_sqm,0.0,0.782051,0.000000,0.000000,0.769231
avg_flat_area_sqm,0.0,0.782051,0.000000,0.000000,0.769231
supported_housing_share,0.0,0.782051,0.000000,0.000000,0.770445
unemployed_rate_total,0.0,0.055556,0.000000,0.000000,0.001080
social_benefit_recipients,0.0,0.000000,0.000000,0.000000,0.003239
social_benefit_recipients_share,0.0,0.055556,0.000000,0.000000,0.003239
employed_residents,0.0,0.000000,0.000000,0.000000,0.000405
employed_residents_share,0.0,0.055556,0.000000,0.000000,0.000405
registered_cars_total,0.0,0.000000,0.000000,0.000000,0.000000
registered_electric_cars,0.0,0.217949,0.042735,0.249553,0.270580
new_registered_electric_cars,0.0,0.217949,0.136752,0.259392,0.276923
private_cars_per_1000,0.0,0.000000,0.000000,0.000000,0.000000

Most indicators are fully available at city, district, and neighborhood level, while statistical blocks and social spaces show substantial structural missingness

### Duplicates

In [15]:
df.duplicated(subset=['year', 'area_code']).sum()

np.int64(0)

In [16]:
df[df['area'].str.match(r'^\d+')]['area'].unique()

array([], dtype=object)

### Summary

In [17]:
df["area_level"].value_counts()

area_level
Statistische Quartiere    7410
Stadtteile                1118
Sozialräume                234
Stadtbezirke               117
Gesamtstadt                 13
Name: count, dtype: int64

In [18]:
df.describe()

,year,area_code,area_level_code,avg_age_total,avg_age_male,avg_age_female,avg_age_german,avg_age_non_german,population_total,non_german_total,...,supported_housing_share,unemployed_rate_total,social_benefit_recipients,social_benefit_recipients_share,employed_residents,employed_residents_share,registered_cars_total,registered_electric_cars,new_registered_electric_cars,private_cars_per_1000
count,8892.000000,8.892000e+03,8892.000000,8879.000000,8879.000000,8879.000000,8879.000000,8879.000000,8879.0,8879.0,...,3000.000000,8871.000000,8868.0,8855.000000,8889.0,8876.000000,8892.000000,6552.0,6483.0,8892.000000
mean,2018.000000,4.189774e+08,2.869883,42.079251,41.187192,42.895229,42.303935,40.705231,8330.546796,1645.604122,...,7.716536,8.552736,919.435837,12.849916,3171.643042,55.850254,3586.916217,45.845085,20.67222,367.665073
std,3.741868,3.057050e+08,0.448250,3.733417,3.328594,4.210409,4.310442,3.541292,53726.638512,10115.560509,...,12.745773,5.201709,5569.019829,10.298751,20780.986047,6.744480,23801.787941,483.857478,211.090226,104.211092
min,2012.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.477952,5.0,0.287100,15.0,19.270833,5.000000,0.0,0.0,0.000000
25%,2015.000000,1.050100e+08,3.000000,39.777900,39.231274,40.306416,39.620951,38.777182,1558.5,215.0,...,0.000000,4.797830,81.0,5.255750,585.0,52.290921,584.000000,0.0,0.0,287.505250
50%,2018.000000,4.010400e+08,3.000000,42.165948,41.296564,43.027754,42.559808,40.744231,1991.0,347.0,...,3.445449,7.062684,174.0,9.510800,760.0,56.602806,792.000000,0.0,0.0,357.978000
75%,2021.000000,7.062975e+08,3.000000,44.444485,43.294481,45.640980,45.188129,42.803563,2550.0,641.5,...,9.448258,11.063093,396.0,17.991188,1014.0,60.403631,1221.250000,14.0,5.0,445.773250
max,2024.000000,9.090300e+08,4.000000,71.926288,65.994399,75.530879,74.761972,63.015918,1097519.0,232908.0,...,119.661016,51.920622,118092.0,68.592600,449967.0,89.332004,496526.000000,20280.0,7601.0,828.658000

In [19]:
df.to_csv("../data/processed/cologne_data_clean_v1.csv", index=False)