# Data Cleaning & Preprocessing

### Setup

In [1]:
import pandas as pd
import numpy as np

### Raw Data Load & Overview

In [2]:
df_raw = pd.read_csv('../data/raw/cologne_data.csv', sep=';', encoding='unicode_escape') 

df_raw.head().T.head(10)

/var/folders/b7/0lrwcbf52xvccvvdz4wbwfkw0000gn/T/ipykernel_6383/4186628733.py:1: DtypeWarning: Columns (9,11,13,15,17,19,24,30,31,33,38,43,50,52,62,64,66,67,70,73,80,83,88,90,99,102,106,107,108,109,111,116,119,120,128,137,138,139,140,142,144,160,161,162) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('../data/raw/cologne_data.csv', sep=';', encoding='unicode_escape')

,0,1,2,3,4
S_JAHR,2012,2012,2012,2012,2012
S_RAUM,0,1,2,3,4
RAUM,0 / Stadt Köln,1 / Innenstadt,2 / Rodenkirchen,3 / Lindenthal,4 / Ehrenfeld
S_RAUMEBENE,0,1,1,1,1
RAUMEBENE,Gesamtstadt,Stadtbezirke,Stadtbezirke,Stadtbezirke,Stadtbezirke
A0002A,180415.0,21712.0,14788.0,14132.0,19811.0
A0002P,"17,271948","16,985457","14,337793","9,872231","18,779445"
A0022S,"41,90013762","40,86903262","43,45253054","42,06031943","40,54831047"
A0025A,1044555.0,127827.0,103140.0,143149.0,105493.0
A0027A,46426,4428,5331,6787,3935

### Column Selection & Renaming

In [3]:
rename_columns = {
    # --- meta ---
    'S_JAHR': 'year',
    'S_RAUM': 'area_code',
    'RAUM': 'area',
    'S_RAUMEBENE': 'area_level_code',
    'RAUMEBENE': 'area_level',
    
    # --- population & demographics ---
    'A0022S': 'avg_age_total',
    'A0296S': 'avg_age_male',
    'A0297S': 'avg_age_female',
    'A0298S': 'avg_age_german',
    'A0299S': 'avg_age_non_german',
    'A0025A': 'population_total',
    'A0002A': 'non_german_total',
    'A0002P': 'non_german_share',
    'A0153A': 'migration_background_total',
    'A0153P': 'migration_background_share',
    'A0213A': 'female_residents_total',
    'A0109A': 'male_residents_total',
    
    # --- vital statistics ---
    'A0300A': 'births',
    'A0301A': 'deaths',
    
    # --- age groups ---
    'A0029A': 'population_00_03',
    'A0035A': 'population_03_06',
    'A0291A': 'population_06_15',
    'A0043A': 'population_15_18',
    'A0292A': 'population_18_21',
    'A0293A': 'population_21_35',
    'A0294A': 'population_35_60',
    'A0060A': 'population_60_65',
    'A0295A': 'population_65_75',
    'A0065A': 'population_75_80',
    'A0027A': 'population_80_plus',
    
    # --- households & marital status ---
    'A0267A': 'households_total',
    'A0273A': 'households_single',
    'A0273P': 'households_single_share',
    'A0275A': 'households_with_children',
    'A0275P': 'households_with_children_share',
    'A0363A': 'married_residents',
    'A0364A': 'single_residents',
    'A0365A': 'divorced_residents',
    'A0366A': 'widowed_residents',
    
    # --- housing ---
    'B0009A': 'new_flats_completed',
    'B0022S': 'living_area_per_capita_sqm',
    'B0023S': 'avg_flat_area_sqm',
    'B0026P': 'supported_housing_share',
    
    #--- social benefits--- 
    'C0004A': 'social_benefit_households',   
    'C0007A': 'social_benefit_recipients',
    'C0007P': 'social_benefit_recipients_share',
    
    # --- labour market---
    'D0001A': 'unemployed_total',
    'D0001P': 'unemployed_rate_total',
    'D0011A': 'employed_residents_svp',
    'D0011P': 'employed_residents_svp_share',
    
    # --- vehicles ---
    'H0001A': 'registered_cars_total',
    'H0007A': 'registered_electric_cars',
    'H0041A': 'new_registered_electric_cars',
    'H0003S': 'private_cars_per_1000',
}

In [4]:
rename_columns_2 = {
    # --- meta information ---
    'S_JAHR': 'year',
    
    'S_RAUM': 'area_code',
    'RAUM': 'area',
    
    'S_RAUMEBENE': 'area_level_code',
    'RAUMEBENE': 'area_level',
    
    # --- population ---
    'A0025A': 'population_total',
    
    'A0002A': 'non_german_total',
    'A0002P': 'non_german_share',
    
    'A0153A': 'migration_background_total',
    'A0153P': 'migration_background_share',
    'A0157A': 'residents_with_migration_background_00_18',
    
    # --- population by age groups ---
    'A0029A': 'population_00_03',
    'A0035A': 'population_03_06',
    'A0291A': 'population_06_15',
    'A0043A': 'population_15_18',
    'A0292A': 'population_18_21',
    'A0293A': 'population_21_35',
    'A0294A': 'population_35_60',
    'A0060A': 'population_60_65',
    'A0295A': 'population_65_75',
    'A0065A': 'population_75_80',
    'A0027A': 'population_80_plus',
    
    # --- average age ---
    'A0022S': 'avg_age_total',
    
    'A0296S': 'avg_age_male',
    'A0297S': 'avg_age_female',
    
    'A0298S': 'avg_age_german',
    'A0299S': 'avg_age_non_german',
    
    # --- male population ---
    'A0109A': 'male_residents_total',
    'A0117A': 'male_residents_03_06',
    'A0302A': 'male_residents_06_15',
    'A0123A': 'male_residents_15_18',
    'A0126A': 'male_residents_18_21',
    'A0303A': 'male_residents_21_35',
    'A0304A': 'male_residents_35_60',
    'A0136A': 'male_residents_60_65',
    'A0138A': 'male_residents_65_75',
    'A0140A': 'male_residents_75_80',
    'A0112A': 'male_residents_80_plus',
    
    # --- female population ---
    'A0213A': 'female_residents_total',
    'A0218A': 'female_residents_00_03',
    'A0221A': 'female_residents_03_06',
    'A0305A': 'female_residents_06_15',
    'A0227A': 'female_residents_15_18',
    'A0230A': 'female_residents_18_21',
    'A0306A': 'female_residents_21_35',
    'A0307A': 'female_residents_35_60',
    'A0240A': 'female_residents_60_65',
    'A0242A': 'female_residents_65_75',
    'A0244A': 'female_residents_75_80',
    'A0216A': 'female_residents_80_plus',
    
    # --- natural population change ---
    'A0300A': 'births',
    'A0301A': 'deaths',
    
    # --- migration movements ---
    'A0282A': 'departure_total',
    'A0282S': 'departures_per_100',
    
    'A0283A': 'arrivals_total',
    'A0283S': 'arrivals_per_100',
    
    ### --- households structure ---
    'A0267A': 'households_total',
    
    'A0273A': 'households_single',
    'A0273P': 'households_single_share',
    'A0269A': 'households_single_parent',
    'A0269P': 'households_single_parent_share',
    
    'A0275A': 'households_with_children',
    'A0275P': 'households_with_children_share',
    'A0289A': 'households_with_one_child',
    'A0290A': 'households_with_two_plus_children',
    'A0290P': 'households_with_two_plus_children_share',
    
    'A0314A': 'households_with_two_persons',
    'A0314P': 'households_with_two_persons_share',
    'A0315A': 'households_with_three_persons',
    'A0315P': 'households_with_three_persons_share',
    'A0316A': 'households_with_four_persons',
    'A0316P': 'households_with_four_persons_share',
    'A0317A': 'households_with_five_plus_persons',
    'A0317P': 'households_with_five_plus_persons_share',
    
    # --- residence status & marital status ---
    
    'A0355A': 'residents_with_main_residence',
    'A0359A': 'residents_with_secondary_residence',
    
    'A0363A': 'married_residents',
    'A0364A': 'single_residents',
    'A0365A': 'divorced_residents',
    'A0366A': 'widowed_residents',
    
    # --- housing ---
    'B0003A': 'construction_backlog',
    'B0004A': 'building_permits',
    'B0009A': 'completed_dwellings',
    
    'B0022S': 'living_area_per_capita_sqm',
    'B0023S': 'avg_living_area_sqm',
    
    'B0025A': 'housing_stock_total',
    
    'B0026A': 'subsidized_rental_dwelling',
    'B0026P': 'subsidized_rental_dwelling_share',
    
    # --- social benefits ---
    'C0004A': 'social_benefit_households',
    'C0007A': 'social_benefit_recipients',
    'C0007P': 'social_benefit_recipients_share',
    
    # --- labor market ---
    'D0001A': 'unemployed_total',
    'D0001P': 'unemployed_rate_total',
    
    'D0011A': 'employed_residents_svp',
    'D0011P': 'employed_residents_svp_share',
    
    # # --- education ---
    # 'E0001A': 'pupils_by_school_location',
    # 'E0002A': 'pupils_by_residence',
    
    # --- vehicles ---
    'H0001A': 'registered_cars_total',
    'H0003S': 'private_cars_per_1000',
    
    # 'H0004A': 'registered_cars_petrol',
    # 'H0005A': 'registered_cars_diesel',
    # 'H0006A': 'registered_cars_gas',
    'H0007A': 'registered_cars_electric',
    # 'H0008A': 'registered_cars_hybrid_with_plug_in',
    # 'H0009A': 'registered_cars_hybrid_without_plug_in',
    
    'H0010A': 'newly_registered_cars',
    
    'H0027A': 'private_cars_male_holder',
    'H0028A': 'private_cars_female_holder',
    
    'H0029A': 'registered_cars_private_holder',
    'H0030A': 'registered_cars_commercial_use',
    
    # 'H0038A': 'newly_registered_cars_petrol',
    # 'H0039A': 'newly_registered_cars_diesel',
    # 'H0040A': 'newly_registered_cars_gas',
    'H0041A': 'newly_registered_cars_electric',
    # 'H0042A': 'newly_registered_cars_hybrid_with_plug_in',
    # 'H0043A': 'newly_registered_cars_hybrid_without_plug_in',
    # 'H0044A': 'newly_registered_cars_other',
    
    # 'H0049S': 'registered_cars_avg_eng_cap_cc',
    # 'H0050S': 'registered_cars_avg_max_spd_kmh',
    # 'H0051S': 'registered_cars_avg_max_pwr_kW',
}

In [5]:
df = df_raw[list(rename_columns_2.keys())].rename(columns=rename_columns_2)

print(f"Renamed dataset shape: {df.shape}")
df.head().T

Renamed dataset shape: (8892, 104)

,0,1,2,3,4
year,2012,2012,2012,2012,2012
area_code,0,1,2,3,4
area,0 / Stadt Köln,1 / Innenstadt,2 / Rodenkirchen,3 / Lindenthal,4 / Ehrenfeld
area_level_code,0,1,1,1,1
area_level,Gesamtstadt,Stadtbezirke,Stadtbezirke,Stadtbezirke,Stadtbezirke
...,...,...,...,...,...
private_cars_male_holder,230952,22500,25464,32200,20649
private_cars_female_holder,138136,13057,16635,23831,11713
registered_cars_private_holder,369088,35557,42099,56031,32362
registered_cars_commercial_use,67057,15412,8270,10922,6425
newly_registered_cars_electric,229,*,5,193,*

### Columns description

**Demography & Age**

`avg_age_total` - Average age of the total population

`avg_age_male` - Average age of males

`avg_age_female` - Average age of females

`avg_age_german` - Average age of German residents

`avg_age_non_german` - Average age of non-German residents

`population_total` - Total population

`non_german_total` - Number of non-German residents

`non_german_share` - Share of non-German residents in the total population

`migration_background_total` - Residents with a migration background

`migration_background_share` - Share of residents with a migration background in the total population

`female_residents_total` - Female residents

`male_residents_total` - Male residents

---

**Vital Statistics**

`births` - Births (natural population change)

`deaths` - Deaths (natural population change)

---


**Age Groups**

`population_00_03` - Residents aged 0 to under 3 years

`population_03_06` - Residents aged 3 to under 6 years

`population_06_15` - Residents aged 6 to under 15 years

`population_15_18` - Residents aged 15 to under 18 years

`population_18_21` - Residents aged 18 to under 21 years

`population_21_35` - Residents aged 21 to under 35 years

`population_35_60` - Residents aged 35 to under 60 years

`population_60_65` - Residents aged 60 to under 65 years

`population_65_75` - Residents aged 65 to under 75 years

`population_75_80` - Residents aged 75 to under 80 years

`population_80_plus` - Residents aged 80 years and older

---

**Households**

`households_total` - Number of households

`households_single` - Single-person households

`households_single_share` - Share of single-person households in all households

`households_with_children` - Households with children

`households_with_children_share` - Share of households with children in all households

---

**Marital Status**

`married_residents` - Married residents

`single_residents` - Single residents

`divorced_residents` - Divorced residents

`widowed_residents` - Widowed residents

---

**Housing**

`new_flats_completed` - Completed dwellings

`living_area_per_capita_sqm` - Living space per resident (m²)

`avg_flat_area_sqm` - Average living space per dwelling in m² (m², residential and non-residential buildings)

`supported_housing_share` - Share of subsidized rental dwellings (Type A / 1st funding pathway) in the total housing stock

---

**Labour Market & Social Benefits (SGB II)**

`unemployed_total` - Unemployed persons (SGB II & SGB III)

`unemployed_rate_total` - Unemployment rate, total (SGB II & SGB III)

`social_benefit_households` - Benefit units (households)

`social_benefit_recipients` - SGB II: persons entitled to benefits

`social_benefit_recipients_share` -Share of SGB II beneficiaries aged 0 up to the statutory retirement age among all residents with main residence in the same age group

`employed_residents_svp` - Social-insurance employees (by place of residence)

`employed_residents_svp_share` - Share of social-insurance employees (by place of residence) among residents aged 15 to 64 with main residence

---

**Vehicles**

`registered_cars_total` - Number of registered passenger cars

`registered_electric_cars` - Number of registered motor vehicles, electric drive

`new_registered_electric_cars` - Newly registered passenger cars, electric drive

`private_cars_per_1000` - Privately registered passenger cars per 1,000 residents

### Data Cleaning & Transformation

In [6]:
df.dtypes.unique()
# df.info()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [7]:
for col in df.select_dtypes('object').columns.difference(['area', 'area_level']):
    df[col] = (
        df[col]
        .astype(str)
        .str.strip()
        .str.replace(",", ".", regex=False)
        .str.replace("\xa0", "", regex=False)
        .replace(["*", "nan", "None"], np.nan)
        .astype(float, errors='ignore')
    )

In [8]:
exclude_cols = [
    'avg_age_total', 'avg_age_male', 'avg_age_female', 'avg_age_german', 'avg_age_non_german', 
    'non_german_share', 'migration_background_share',
    'households_single_share', 'households_with_children_share',
    'living_area_per_capita_sqm', 'avg_flat_area_sqm', 
    'supported_housing_share', 'unemployed_rate_total', 'social_benefit_recipients_share', 'employed_residents_share', 
    'private_cars_per_1000'
]

for col in df.select_dtypes('float64').columns.difference(exclude_cols):
    if df[col].isna().any():
        df[col] = df[col].round().astype('Int64')
    else:
        df[col] = df[col].round().astype('int64')

In [9]:
df['area_level'] = df['area_level'].astype('category')

In [10]:
# keep only the name after the slash and remove spaces
# df["area"] = df["area"].str.split("/").str[-1].str.strip()
df['area'] = df['area'].str.replace(r'^\s*\d+\s*/\s*', '', regex=True).str.strip()

df[["area_code", "area"]].head(20)

    area_code           area
0           0     Stadt Köln
1           1     Innenstadt
2           2   Rodenkirchen
3           3     Lindenthal
4           4      Ehrenfeld
5           5         Nippes
6           6     Chorweiler
7           7           Porz
8           8           Kalk
9           9        Mülheim
10        101   Altstadt/Süd
11        102   Neustadt/Süd
12        103  Altstadt/Nord
13        104  Neustadt/Nord
14        105          Deutz
15        201      Bayenthal
16        202     Marienburg
17        203      Raderberg
18        204      Raderthal
19        205      Zollstock

In [11]:
df['area'].nunique()

658

In [12]:
df.groupby(['year', 'area_level']).size().unstack()

/var/folders/b7/0lrwcbf52xvccvvdz4wbwfkw0000gn/T/ipykernel_6383/3389243525.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['year', 'area_level']).size().unstack()

area_level,Gesamtstadt,Sozialräume,Stadtbezirke,Stadtteile,Statistische Quartiere
year,,,,,
2012,1,18,9,86,570
2013,1,18,9,86,570
2014,1,18,9,86,570
2015,1,18,9,86,570
2016,1,18,9,86,570
2017,1,18,9,86,570
2018,1,18,9,86,570
2019,1,18,9,86,570
2020,1,18,9,86,570
2021,1,18,9,86,570
2022,1,18,9,86,570
2023,1,18,9,86,570
2024,1,18,9,86,570

### Missing Values Summary

In [13]:
df.isna().sum().sort_values(ascending=False).head(20)

building_permits                           7805
construction_backlog                       7712
subsidized_rental_dwelling_share           5892
housing_stock_total                        5883
living_area_per_capita_sqm                 5883
avg_living_area_sqm                        5883
social_benefit_households                  3431
newly_registered_cars_electric             2409
registered_cars_electric                   2340
completed_dwellings                        1478
residents_with_secondary_residence         1213
registered_cars_commercial_use              501
deaths                                      347
male_residents_15_18                        134
female_residents_15_18                      130
male_residents_80_plus                      119
newly_registered_cars                       111
households_with_five_plus_persons_share      90
households_with_five_plus_persons            90
male_residents_75_80                         76
dtype: int64

In [14]:
df.groupby('area_level')[df.columns].apply(lambda x: x.isna().mean()).T

/var/folders/b7/0lrwcbf52xvccvvdz4wbwfkw0000gn/T/ipykernel_6383/1143749678.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('area_level')[df.columns].apply(lambda x: x.isna().mean()).T

area_level,Gesamtstadt,Sozialräume,Stadtbezirke,Stadtteile,Statistische Quartiere
year,0.0,0.000000,0.000000,0.000000,0.000000
area_code,0.0,0.000000,0.000000,0.000000,0.000000
area,0.0,0.000000,0.000000,0.000000,0.000000
area_level_code,0.0,0.000000,0.000000,0.000000,0.000000
area_level,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...
private_cars_male_holder,0.0,0.000000,0.000000,0.000000,0.000270
private_cars_female_holder,0.0,0.000000,0.000000,0.000000,0.000000
registered_cars_private_holder,0.0,0.000000,0.000000,0.000000,0.000270
registered_cars_commercial_use,0.0,0.000000,0.000000,0.005367,0.066802
newly_registered_cars_electric,0.0,0.217949,0.136752,0.259392,0.276923

Most indicators are fully available at city, district, and neighborhood level, while statistical blocks and social spaces show substantial structural missingness

### Duplicates

In [15]:
df.duplicated(subset=['year', 'area_code']).sum()

np.int64(0)

In [16]:
df[df['area'].str.match(r'^\d+')]['area'].unique()

array([], dtype=object)

### Summary

In [17]:
df["area_level"].value_counts()

area_level
Statistische Quartiere    7410
Stadtteile                1118
Sozialräume                234
Stadtbezirke               117
Gesamtstadt                 13
Name: count, dtype: int64

In [18]:
df.describe()

,year,area_code,area_level_code,population_total,non_german_total,non_german_share,migration_background_total,migration_background_share,residents_with_migration_background_00_18,population_00_03,...,employed_residents_svp_share,registered_cars_total,private_cars_per_1000,registered_cars_electric,newly_registered_cars,private_cars_male_holder,private_cars_female_holder,registered_cars_private_holder,registered_cars_commercial_use,newly_registered_cars_electric
count,8892.000000,8.892000e+03,8892.000000,8879.0,8879.0,8879.000000,8879.0,8879.000000,8877.0,8876.0,...,8876.0,8892.000000,8892.000000,6552.0,8781.0,8890.0,8892.000000,8890.0,8391.0,6483.0
mean,2018.000000,4.189774e+08,2.869883,8330.546796,1645.604122,19.129347,3347.166798,39.388395,791.296609,243.651194,...,55.84475,3586.916217,367.665073,45.845085,328.896367,1852.957705,1151.358862,3004.575591,617.665713,20.67222
std,3.741868,3.057050e+08,0.448250,53726.638512,10115.560509,10.628213,20663.166485,16.690165,4844.224828,1556.19601,...,6.747136,23801.787941,104.211092,483.857478,2319.575273,12079.504276,7667.123199,19740.23039,4286.595125,211.090226
min,2012.000000,0.000000e+00,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,19.0,5.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
25%,2015.000000,1.050100e+08,3.000000,1558.5,215.0,11.368849,500.0,26.688982,97.0,42.0,...,52.0,584.000000,287.505250,0.0,23.0,331.0,194.000000,532.0,16.0,0.0
50%,2018.000000,4.010400e+08,3.000000,1991.0,347.0,16.727009,729.0,35.033686,171.0,57.0,...,57.0,792.000000,357.978000,0.0,39.0,436.0,282.000000,714.0,40.0,0.0
75%,2021.000000,7.062975e+08,3.000000,2550.0,641.5,24.195918,1257.5,50.099183,326.0,81.0,...,60.0,1221.250000,445.773250,14.0,92.0,634.0,408.000000,1041.0,170.0,5.0
max,2024.000000,9.090300e+08,4.000000,1097519.0,232908.0,82.837640,469156.0,94.539249,106348.0,34061.0,...,89.0,496526.000000,828.658000,20280.0,54824.0,249075.0,159928.000000,407790.0,89022.0,7601.0

In [19]:
df.to_csv("../data/processed/cologne_data_clean_v2.csv", index=False)