# Exploratory Data Analysis

**Goal** 

Explore and visualize the demographic, social, and economic structure and dynamics of Cologne over years.

## Setup & Imports

In [5]:
from pathlib import Path
DATA_PROCESSED = Path('../data/processed/cologne_data_clean_v1.csv')

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.style.use("seaborn-v0_8")

import seaborn as sns

## Load data

In [6]:
df = pd.read_csv(DATA_PROCESSED, low_memory=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8892 entries, 0 to 8891
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             8892 non-null   int64
 1   area_code                        8892 non-null   int64
 2   area                             8892 non-null   object
 3   area_level_code                  8892 non-null   int64
 4   area_level                       8892 non-null   object
 5   avg_age_total                    8879 non-null   float64
 6   avg_age_male                     8879 non-null   float64
 7   avg_age_female                   8879 non-null   float64
 8   avg_age_german                   8879 non-null   float64
 9   avg_age_non_german               8879 non-null   float64
 10  population_total                 8879 non-null   float64
 11  non_german_total                 8879 non-null   float64
 12  non_german_share                 8879 non-null   float64
 13  migration_background_total       8879 non-null   float64
 14  migration_background_share       8879 non-null   float64
 15  female_residents_total           8879 non-null   float64
 16  male_residents_total             8879 non-null   float64
 17  births                           8829 non-null   float64
 18  deaths                           8545 non-null   float64
 19  population_00_03                 8876 non-null   float64
 20  population_03_06                 8877 non-null   float64
 21  population_06_15                 8879 non-null   float64
 22  population_15_18                 8864 non-null   float64
 23  population_18_21                 8874 non-null   float64
 24  population_21_35                 8879 non-null   float64
 25  population_35_60                 8879 non-null   float64
 26  population_60_65                 8876 non-null   float64
 27  population_65_75                 8875 non-null   float64
 28  population_75_80                 8870 non-null   float64
 29  population_80_plus               8854 non-null   float64
 30  households_total                 8879 non-null   float64
 31  households_single                8879 non-null   float64
 32  households_single_share          8879 non-null   float64
 33  households_with_children         8879 non-null   float64
 34  households_with_children_share   8879 non-null   float64
 35  married_residents                8879 non-null   float64
 36  single_residents                 8879 non-null   float64
 37  divorced_residents               8879 non-null   float64
 38  widowed_residents                8875 non-null   float64
 39  new_flats_completed              7414 non-null   float64
 40  living_area_per_capita_sqm       3009 non-null   float64
 41  avg_flat_area_sqm                3009 non-null   float64
 42  supported_housing_share          3000 non-null   float64
 43  unemployed_rate_total            8871 non-null   float64
 44  social_benefit_recipients        8868 non-null   float64
 45  social_benefit_recipients_share  8855 non-null   float64
 46  employed_residents               8889 non-null   float64
 47  employed_residents_share         8876 non-null   float64
 48  registered_cars_total            8892 non-null   int64
 49  registered_electric_cars         6552 non-null   float64
 50  new_registered_electric_cars     6483 non-null   float64
 51  private_cars_per_1000            8892 non-null   float64
dtypes: float64(46), int64(4), object(2)
memory usage: 3.5+ MB

## Filtered views

In [ ]:
CITY = 0
DISTRICTS = 1
NEIGHBORHOODS = 2
STATISTICAL_BLOCKS = 3
SOCIAL_SPACES = 4

df_city = df[df.area_level_code == CITY]
df_districts = df[df.area_level_code == DISTRICTS]
df_neighborhoods = df[df.area_level_code == NEIGHBORHOODS]
df_statistical_blocks = df[df.area_level_code == STATISTICAL_BLOCKS]
df_social_spaces = df[df.area_level_code == SOCIAL_SPACES]

## Quick checks

In [8]:
latest_year = df['year'].max()
earliest_year = df['year'].min()

print(earliest_year, latest_year)

2012 2024

### Missing values (by area level)

In [19]:
df.groupby('area_level_code')[df.select_dtypes(include=["float64"]).columns].apply(lambda x: x.isna().mean()).T

area_level_code                    0         1         2         3         4
avg_age_total                    0.0  0.000000  0.000000  0.000000  0.055556
avg_age_male                     0.0  0.000000  0.000000  0.000000  0.055556
avg_age_female                   0.0  0.000000  0.000000  0.000000  0.055556
avg_age_german                   0.0  0.000000  0.000000  0.000000  0.055556
avg_age_non_german               0.0  0.000000  0.000000  0.000000  0.055556
population_total                 0.0  0.000000  0.000000  0.000000  0.055556
non_german_total                 0.0  0.000000  0.000000  0.000000  0.055556
non_german_share                 0.0  0.000000  0.000000  0.000000  0.055556
migration_background_total       0.0  0.000000  0.000000  0.000000  0.055556
migration_background_share       0.0  0.000000  0.000000  0.000000  0.055556
female_residents_total           0.0  0.000000  0.000000  0.000000  0.055556
male_residents_total             0.0  0.000000  0.000000  0.000000  0.055556
births                           0.0  0.000000  0.000000  0.006748  0.055556
deaths                           0.0  0.000000  0.005367  0.044265  0.055556
population_00_03                 0.0  0.000000  0.000000  0.000405  0.055556
population_03_06                 0.0  0.000000  0.000000  0.000270  0.055556
population_06_15                 0.0  0.000000  0.000000  0.000000  0.055556
population_15_18                 0.0  0.000000  0.000000  0.002024  0.055556
population_18_21                 0.0  0.000000  0.000000  0.000675  0.055556
population_21_35                 0.0  0.000000  0.000000  0.000000  0.055556
population_35_60                 0.0  0.000000  0.000000  0.000000  0.055556
population_60_65                 0.0  0.000000  0.000000  0.000405  0.055556
population_65_75                 0.0  0.000000  0.000000  0.000540  0.055556
population_75_80                 0.0  0.000000  0.000000  0.001215  0.055556
population_80_plus               0.0  0.000000  0.000000  0.003374  0.055556
households_total                 0.0  0.000000  0.000000  0.000000  0.055556
households_single                0.0  0.000000  0.000000  0.000000  0.055556
households_single_share          0.0  0.000000  0.000000  0.000000  0.055556
households_with_children         0.0  0.000000  0.000000  0.000000  0.055556
households_with_children_share   0.0  0.000000  0.000000  0.000000  0.055556
married_residents                0.0  0.000000  0.000000  0.000000  0.055556
single_residents                 0.0  0.000000  0.000000  0.000000  0.055556
divorced_residents               0.0  0.000000  0.000000  0.000000  0.055556
widowed_residents                0.0  0.000000  0.000000  0.000540  0.055556
new_flats_completed              0.0  0.000000  0.186047  0.165047  0.200855
living_area_per_capita_sqm       0.0  0.000000  0.000000  0.769231  0.782051
avg_flat_area_sqm                0.0  0.000000  0.000000  0.769231  0.782051
supported_housing_share          0.0  0.000000  0.000000  0.770445  0.782051
unemployed_rate_total            0.0  0.000000  0.000000  0.001080  0.055556
social_benefit_recipients        0.0  0.000000  0.000000  0.003239  0.000000
social_benefit_recipients_share  0.0  0.000000  0.000000  0.003239  0.055556
employed_residents               0.0  0.000000  0.000000  0.000405  0.000000
employed_residents_share         0.0  0.000000  0.000000  0.000405  0.055556
registered_electric_cars         0.0  0.042735  0.249553  0.270580  0.217949
new_registered_electric_cars     0.0  0.136752  0.259392  0.276923  0.217949
private_cars_per_1000            0.0  0.000000  0.000000  0.000000  0.000000

Most indicators are fully available at city, district, and neighborhood level, while statistical blocks and social spaces show substantial structural missingness. In this project I focus on city (trends) and districts (comparisons).

In [9]:
df_districts.groupby('year')[['new_registered_electric_cars', 'registered_electric_cars']].apply(lambda x: x.isna().mean())

      new_registered_electric_cars  registered_electric_cars
year
2012                      0.222222                  0.222222
2013                      0.333333                  0.222222
2014                      0.444444                  0.111111
2015                      0.555556                  0.000000
2016                      0.222222                  0.000000
2017                      0.000000                  0.000000
2018                      0.000000                  0.000000
2019                      0.000000                  0.000000
2020                      0.000000                  0.000000
2021                      0.000000                  0.000000
2022                      0.000000                  0.000000
2023                      0.000000                  0.000000
2024                      0.000000                  0.000000

#### Co-missingness

In [13]:
# df.isna().corr()

### Duplicates

In [14]:
df.duplicated(subset=['year','area_code']).sum()

np.int64(0)